<nav id="main-nav">
    <ul class="second-nav">
        <li><a href="#"><i class="feather-home mr-2"></i>Inicio</a></li>
        <li><a href="#"><i class="feather-help-circle mr-2"></i>Preguntas frecuentes</a></li>
        <li><a href="#"><i class="feather-book-open mr-2"></i>Términos y condiciones</a></li>
        <li><a href="#"><i class="feather-mail mr-2"></i>Contactanos</a></li>
        <li><a href="https://github.com/ignaciocorball" target="_blank"><i class="feather-github mr-2"></i>Github</a></li>
        <li><a href="#" class="text-white bg-danger"><i class="feather-x-circle mr-2"></i>Cerrar sesión</a></li>
    </ul>
</nav>